h1 {
 font-family: Verdana;
 font-weight: Normal;
 font-size: 50px;
 color: white;
 text-align: Center;
}

body  {
 background-color: black;
 text-align: center;
}

h2{
 color: Aquamarine;
 font-size: 16px;
 text-align: center;
}

a {
 color: Aquamarine;
}

h3 {
 text-align: Center;
 font-family: Verdana;
 font-weight: 300;
 font-size: 42px;
 color: white;
}

p {
 font-family: Verdana;
 font-size: 21px;
 color: gray;
}

h4 {
 text-align: Right;
 color: gray;
 font-size: 21px;
}


 
